	<head>
	<link href="{{ site.baseurl }}/stylesheets/jquery-ui-1.10.2.custom.min.css" media="screen" rel="stylesheet" type="text/css">
    <script src="{{ site.baseurl }}/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/javascripts/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/javascripts/filter.min.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/articles.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/javascripts/index.js" type="text/javascript"></script>
  </head>
  <body>
        <h1 class="text-center">Search Federal Business Incentives</h1>
      <div class="separator"></div>
  <div class="row" >
   <div class="col-md-4 col-sm-6">

   <div class="panel panel-default">
   			<div class="panel-body bg-gray">
<h3>Federal Programs and Incentives for Business</h3>
        <div>
     <div class="alert alert-info alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								<p style="font-size:10px;"><strong>How to refine your search</strong>

      </br>Use the search options on the left to narrow down your search results. If you don't select any filters, you will see all incentive programs.

If you select one or more filter terms in one filter category, you will see all incentive programs that match any one of the terms selected.
     </p>
							</div>


              <div class="form-group">
									<label for="searchbox">Search by Keyword <span style="font-size:10px;font-weight:normal;">(select categories to search)</span></label>
									<input type="text" class="form-control" id="searchbox" placeholder="Search">
								</div>

        </div>
        <div class="criteria" id="genre_criteria">

        <p>Results (<span id="total_movies">250</span>)</p>
                  <div class="checkbox">
            	<div class="btn btn-primary center-block">
            		<label >
              			<input type="checkbox" value="All" id="all_genre" class="hidden" ><span style="margin-left:-25px;color:#fff;">Select/Deselect All Categories</span>
            		</label>
            	</div>
          </div>


<div id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default" style="border:0; border-radius:0;box-shadow:none;">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Category
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="checkbox">
            <label>
              <input type="checkbox" value="Export Programs"> Export Programs
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Financing and Loans"> Financing and Loans
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Funding and Grants"> Funding and Grants
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Intellectual Property Programs"> Intellectual Property Programs
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Miscellaneous Assistance and Counseling"> Miscellaneous Assistance and Counseling
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Small Business Programs"> Small Business Programs
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Tax Credits and Deductions"> Tax Credits and Deductions
            </label>
        </div>
    </div>
  </div>

  <div class="panel panel-default" style="border:0; border-radius:0;box-shadow:none;">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Industry
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="checkbox">
            <label>
              <input type="checkbox" value="Agriculture"> Agriculture
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Consumer Goods"> Consumer Goods
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Energy"> Energy
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Environmental Technology"> Environmental Technology
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Logistics and Transportation"> Logistics and Transportation
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Medical Technology"> Medical Technology
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Pharmaceuticals and Biotech"> Pharmaceuticals and Biotech
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Professional Services"> Professional Services
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Textiles"> Textiles
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Travel, Tourism & Hospitality"> Travel, Tourism & Hospitality
            </label>
            </div>
    </div>
  </div>

<div class="panel panel-default" style="border:0; border-radius:0;box-shadow:none;">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Agency
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="checkbox">
            <label>
              <input type="checkbox" value="CFDA"> CFDA
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="DHS"> DHS
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Commerce"> Commerce
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Education"> Education
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Energy"> Energy
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Export-Import Bank"> Export-Import Bank
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="HHS"> HHS
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="HUD"> HUD
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Labor"> Labor
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="National Science Foundation"> National Science Foundation
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="OPIC"> OPIC
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="SBA"> SBA
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Transportation"> Transportation
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Treasury"> Treasury
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="USDA"> USDA
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="USTDA"> USTDA
            </label>
             </div><div class="checkbox">
            <label>
              <input type="checkbox" value="VA"> VA
            </label>
        </div>
    </div>
  </div>

  <div class="panel panel-default" style="border:0; border-radius:0;box-shadow:none;">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Bureau
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="checkbox">
            <label>
              <input type="checkbox" value="ARPA-E"> ARPA-E
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Agricultural Marketing Service"> Agricultural Marketing Service
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Build America Transportation Investment Center"> Build America Transportation Investment Center
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Bureau of Industry and Security"> Bureau of Industry and Security
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="BusinessUSA"> BusinessUSA
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Economic Development Administration"> Economic Development Administration
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Employment and Training Administration"> Employment and Training Administration
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Farm Service Agency"> Farm Service Agency
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Food Safety and Inspection Service"> Food Safety and Inspection Service
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Foreign Agricultural Service"> Foreign Agricultural Service
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Internal Revenue Service"> Internal Revenue Service
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="International Trade Administration"> International Trade Administration
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Loan Programs Office"> Loan Programs Office
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Minority Business Development Agency"> Minority Business Development Agency
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="NIH"> NIH
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="National Energy Technology Laboratory"> National Energy Technology Laboratory
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="National Institute of Food and Agriculture"> National Institute of Food and Agriculture
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="National Institute of Standards and Technology"> National Institute of Standards and Technology
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="National Oceanic and Atmospheric Administration"> National Oceanic and Atmospheric Administration
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Natural Resources Conservation Service"> Natural Resources Conservation Service
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Office of Economic Adjustment"> Office of Economic Adjustment
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Office of Energy Efficiency and Renewable Energy"> Office of Energy Efficiency and Renewable Energy
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Office of Manufacturing and Industrial Base Policy"> Office of Manufacturing and Industrial Base Policy
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Office of Science"> Office of Science
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Office of Small and Disadvantaged Business Utilization"> Office of Small and Disadvantaged Business Utilization
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="Rural Development"> Rural Development
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="U.S. Patent and Trademark Office"> U.S. Patent and Trademark Office
            </label>
            </div><div class="checkbox">
            <label>
              <input type="checkbox" value="USCIS"> USCIS
            </label>
            </div>
    </div>
  </div>


  <!--<div class="panel panel-default" style="border:0; border-radius:0;box-shadow:none;">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Tags
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="checkbox"><label><input type="checkbox" value="SME">SME</label></div>

<div class="checkbox"><label><input type="checkbox" value="advocacy">advocacy</label></div>

<div class="checkbox"><label><input type="checkbox" value="agriculture">agriculture</label></div>

<div class="checkbox"><label><input type="checkbox" value="assistance">assistance</label></div>

<div class="checkbox"><label><input type="checkbox" value="business development">business development</label></div>

<div class="checkbox"><label><input type="checkbox" value="business operations">business operations</label></div>

<div class="checkbox"><label><input type="checkbox" value="business partnership">business partnership</label></div>

<div class="checkbox"><label><input type="checkbox" value="capital">capital</label></div>

<div class="checkbox"><label><input type="checkbox" value="childcare">childcare</label></div>

<div class="checkbox"><label><input type="checkbox" value="clean energy">clean energy</label></div>

<div class="checkbox"><label><input type="checkbox" value="coal">coal</label></div>

<div class="checkbox"><label><input type="checkbox" value="compliance">compliance</label></div>

<div class="checkbox"><label><input type="checkbox" value="construction">construction</label></div>

<div class="checkbox"><label><input type="checkbox" value="cost reduction">cost reduction</label></div>

<div class="checkbox"><label><input type="checkbox" value="counseling">counseling</label></div>

<div class="checkbox"><label><input type="checkbox" value="credit">credit</label></div>

<div class="checkbox"><label><input type="checkbox" value="credits">credits</label></div>

<div class="checkbox"><label><input type="checkbox" value="deductions">deductions</label></div>

<div class="checkbox"><label><input type="checkbox" value="defense contracts">defense contracts</label></div>

<div class="checkbox"><label><input type="checkbox" value="disabilities">disabilities</label></div>

<div class="checkbox"><label><input type="checkbox" value="disadvantaged communities">disadvantaged communities</label></div>

<div class="checkbox"><label><input type="checkbox" value="disaster">disaster</label></div>

<div class="checkbox"><label><input type="checkbox" value="domestic">domestic</label></div>

<div class="checkbox"><label><input type="checkbox" value="economic adjustment assistance">economic adjustment assistance</label></div>

<div class="checkbox"><label><input type="checkbox" value="education">education</label></div>

<div class="checkbox"><label><input type="checkbox" value="emerging markets">emerging markets</label></div>

<div class="checkbox"><label><input type="checkbox" value="employee benefits">employee benefits</label></div>

<div class="checkbox"><label><input type="checkbox" value="energy">energy</label></div>

<div class="checkbox"><label><input type="checkbox" value="environment">environment</label></div>

<div class="checkbox"><label><input type="checkbox" value="export">export</label></div>

<div class="checkbox"><label><input type="checkbox" value="federal transportation credit">federal transportation credit</label></div>

<div class="checkbox"><label><input type="checkbox" value="financing">financing</label></div>

<div class="checkbox"><label><input type="checkbox" value="food">food</label></div>

<div class="checkbox"><label><input type="checkbox" value="food and drink">food and drink</label></div>

<div class="checkbox"><label><input type="checkbox" value="funding">funding</label></div>

<div class="checkbox"><label><input type="checkbox" value="government contracts">government contracts</label></div>

<div class="checkbox"><label><input type="checkbox" value="grant">grant</label></div>

<div class="checkbox"><label><input type="checkbox" value="grants">grants</label></div>

<div class="checkbox"><label><input type="checkbox" value="guarantee">guarantee</label></div>

<div class="checkbox"><label><input type="checkbox" value="healthcare">healthcare</label></div>

<div class="checkbox"><label><input type="checkbox" value="immigration">immigration</label></div>

<div class="checkbox"><label><input type="checkbox" value="indian">indian</label></div>

<div class="checkbox"><label><input type="checkbox" value="industrial base policy">industrial base policy</label></div>

<div class="checkbox"><label><input type="checkbox" value="information">information</label></div>

<div class="checkbox"><label><input type="checkbox" value="infrastructure">infrastructure</label></div>

<div class="checkbox"><label><input type="checkbox" value="insurance">insurance</label></div>

<div class="checkbox"><label><input type="checkbox" value="intellectual property">intellectual property</label></div>

<div class="checkbox"><label><input type="checkbox" value="international">international</label></div>

<div class="checkbox"><label><input type="checkbox" value="international tax">international tax</label></div>

<div class="checkbox"><label><input type="checkbox" value="investment">investment</label></div>

<div class="checkbox"><label><input type="checkbox" value="large business and international">large business and international</label></div>

<div class="checkbox"><label><input type="checkbox" value="loan">loan</label></div>

<div class="checkbox"><label><input type="checkbox" value="loans">loans</label></div>

<div class="checkbox"><label><input type="checkbox" value="long-term">long-term</label></div>

<div class="checkbox"><label><input type="checkbox" value="manufacturing">manufacturing</label></div>

<div class="checkbox"><label><input type="checkbox" value="marketing">marketing</label></div>

<div class="checkbox"><label><input type="checkbox" value="media">media</label></div>

<div class="checkbox"><label><input type="checkbox" value="medicare">medicare</label></div>

<div class="checkbox"><label><input type="checkbox" value="medium">medium</label></div>

<div class="checkbox"><label><input type="checkbox" value="mining">mining</label></div>

<div class="checkbox"><label><input type="checkbox" value="minority">minority</label></div>

<div class="checkbox"><label><input type="checkbox" value="native american">native american</label></div>

<div class="checkbox"><label><input type="checkbox" value="operations">operations</label></div>

<div class="checkbox"><label><input type="checkbox" value="pension">pension</label></div>

<div class="checkbox"><label><input type="checkbox" value="pharmaceutical">pharmaceutical</label></div>

<div class="checkbox"><label><input type="checkbox" value="promotion">promotion</label></div>

<div class="checkbox"><label><input type="checkbox" value="railroad">railroad</label></div>

<div class="checkbox"><label><input type="checkbox" value="real estate">real estate</label></div>

<div class="checkbox"><label><input type="checkbox" value="regulation">regulation</label></div>

<div class="checkbox"><label><input type="checkbox" value="regulations">regulations</label></div>

<div class="checkbox"><label><input type="checkbox" value="renewable energy">renewable energy</label></div>

<div class="checkbox"><label><input type="checkbox" value="research and development">research and development</label></div>

<div class="checkbox"><label><input type="checkbox" value="rural">rural</label></div>

<div class="checkbox"><label><input type="checkbox" value="small and medium businesses">small and medium businesses</label></div>

<div class="checkbox"><label><input type="checkbox" value="small business">small business</label></div>

<div class="checkbox"><label><input type="checkbox" value="social security">social security</label></div>

<div class="checkbox"><label><input type="checkbox" value="tax">tax</label></div>

<div class="checkbox"><label><input type="checkbox" value="tax credit">tax credit</label></div>

<div class="checkbox"><label><input type="checkbox" value="tax filing">tax filing</label></div>

<div class="checkbox"><label><input type="checkbox" value="tax incentive">tax incentive</label></div>

<div class="checkbox"><label><input type="checkbox" value="tax incentives">tax incentives</label></div>

<div class="checkbox"><label><input type="checkbox" value="textiles">textiles</label></div>

<div class="checkbox"><label><input type="checkbox" value="trade">trade</label></div>

<div class="checkbox"><label><input type="checkbox" value="trade show">trade show</label></div>

<div class="checkbox"><label><input type="checkbox" value="veterans">veterans</label></div>

    </div>
  </div>-->
</div>
</div>


                <div class="clearfix"></div>
            </div>
         </div>
	</div>


  	<div class="col-md-8 col-sm-6">
      	 <div class="panel panel-default" style="border:0;">
   			<div class="panel-body">

              <div class="clearfix"></div>

      <div class="sorting content float:left;width:50%;overflow:hidden;">
      </div>
     <div class="movies content col-span-9" id="movies">
      </div>

      <script id="movie-template" type="text/html">
        <div class="col-span-4 movie">
          <div class="thumbnail">

          <div class="caption">
            <a href="<%= link %>"><h4><%= name %></h4></a>
            <div class="outline">
              <%= outline %>
              </br></br>
            </div>
          </div>
        </div>
      </div>
      </script>
      <script id="genre_template" type="text/html">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="<%= genre %>"> <%= genre %>
          </label>
        </div>
      </script>
      </div>


         </div>
  	</div>
    </body>
  </html>
